.headerBalance{
    background: #66FFCC;
    color: #ffffff;
    padding: 4px;
    border-radius: 6px;
}

.bg-purple-alt{
    background: linear-gradient(90deg, rgba(17,38,44,1) 4%, rgba(54,99,112,1) 100%);
}

.bg-purple-alt2{
    background: linear-gradient(90deg, rgba(17,38,44,1) 4%, rgba(54,99,112,1) 100%);
}

.bg-red-alt{
    background: #66FFCC !important;
}

.pagination .page-item.active .page-link{
    background: #66FFCC !important;
}

.text-red-alt{
    color: #66FFCC !important;
}

.padding-button-short{
    padding: 0.6rem 2rem !important;
}

.divide-dashboard-title{
    padding: 20px;
    text-align: center;
    background: #eeeeee;
}

.main-menu.bg-purple-alt.menu-light .navigation > li.open > a{
    background: linear-gradient(90deg, rgba(17,38,44,1) 4%, rgba(54,99,112,1) 100%);
}