/* Diseño que yo arreglado Carlos */

.header-navbar.floating-nav {
	width: calc(100% - calc(2.2rem * 2) - 260px);
	left: unset;
	border-radius: 0px;
	padding: 10px 0px;
}

.navbar-light {
	background: #11262c;
}

body.vertical-layout.vertical-menu-modern.menu-expanded .main-menu {
	width: 260px !important;
}

.header-navbar .navbar-container .bookmark-wrapper ul.nav li>a.nav-link {
	padding: 1rem 1.4rem !important;
}

.main-menu.menu-light .navigation {
	margin: 0 20px !important;
}

.main-menu .navbar-header {
	width: 260px !important;
}

.main-menu ul.navigation-main>li:first-child {
	margin-top: 0 !important;
}

.main-menu.menu-light .navigation li a {
	padding: 0px 10px;
	margin: 15px 0px;
}

.main-menu.menu-light .navigation li.hover>a {
	background: #66ffcc !important;
	border-radius: 4px;

}

body {
	font-family: 'Montserrat', sans-serif;
}

#diseng {
	border-radius: 50%;
	height: 120px;
	width: 120px;
	background-repeat: no-repeat !important;
	background-size: contain !important;
	background-position: center center !important;
	margin: 0 auto;
	border: 1px solid #00646d;
}

.bg-blue-2 {
	background: #06171B !important;
}

.bg-green-2 {
	background: #68FF71 !important;
}

.bg-orange-alt {
	background: #00646d;
	border-color: #00646d;
}

.bg-gradient-danger {
	background: #640064;
	color: #FFFFFF;
	background-image: -webkit-linear-gradient(60deg, #EA5455, rgba(234, 84, 85, 0.5));
	background-image: linear-gradient(30deg, #0a343e, rgba(42, 223, 192, 0.5)) !important;
	background-repeat: repeat-x;
}

.bg-orange-alt-2 {
	background: rgba(207, 96, 70, 0.5)
}

.bg-blue-alt-2 {
	background: rgba(62, 135, 175, 0.5)
}

.text-alt-blue {
	color: #3e87af;
}

.text-alt-orange {
	color: #00646d;
}

.custom-control-input:checked~.custom-control-label::before {
	border-color: #00646d;
	background-color: #00646d;
}

.btn-primary {
	background: #66FFCC 0% 0% no-repeat padding-box !important;
	border-radius: 4px;
	opacity: 1;
	letter-spacing: 0px;
	color: #06171B;
	opacity: 1;
}

.card {
	background-color: #11262c;
}

.card h1,
.card h2,
.card h3,
.card h4,
.card h5,
.card h6,
.card td,
.card label {
	color: #ffffff !important;
}

.page-head {
	background: #11262C;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 40px;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
}





/* diseño nuevo alexis */

.btn-outline-primary:hover {
	color: #FFFFFF;
	background-color: #66FFCC !important;
	border-color: #66FFCC;
}

.main-menu .main-menu-content {
	height: calc(100% - 12rem) !important;
	position: relative;
	width: 100% !important;
}

.ps .ps__rail-x.ps--clicking,
.ps .ps_rail-x:focus,
.ps .ps_rail-x:hover,
.ps .ps__rail-y.ps--clicking,
.ps .ps_rail-y:focus,
.ps .ps_rail-y:hover {
	background-color: transparent !important;
	opacity: .9;
}

.progress-bar-info .progress-bar {
	background: transparent linear-gradient(90deg, #23F7AA 0%, #0CEADF 65%, #00E4FE 100%) 0% 0% no-repeat padding-box !important;
}

.slick-initialized .slick-slide {
	display: block;
	outline: none !important;
}








.border-dark {
	border: 1px solid #66FFCC !important;
	color: #fff !important;
}


.progress-bar-primary .progress-bar {
	background: transparent linear-gradient(90deg, #00E4FE 0%, #0CEADF 35%, #23F7AA 100%) 0% 0% no-repeat padding-box !important;
}



.form-control {
	display: block;
	color: #FFF !important;
	background-color: #17967a !important;
	border: 1px solid #17967a !important;
}

.dt-buttons.btn-group.flex-wrap {
	margin-top: 10px !important;
}

.btn-secondary {
	border-color: #17967a !important;
	background-color: #17967a !important;
}

table.dataTable thead tr {
	background-color: transparent !important;
	color: #FFF !important;
}

table.dataTable {
	border: 0px solid #F8F8F8 !important;
}

.pagination .page-item .page-link {

	background-color: #66FFCC !important;

}

.pagination .page-item.active {
	background-color: #66FFCC !important;
}



::-webkit-scrollbar-track {
	background: #17967a;
	border-radius: 50px;
}



::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background: #66FFCC;
	border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
	background: #38d09d;
}



.modal .modal-header {
    background-color: #11262c !important;
}


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #fff !important;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #66FFCC;
    opacity: 1;
}
.form-control {
    border: 1px solid #66FFCC;
}
label {
    color: #FFF;

}
.modal-content {
    background-color: #11262c !important;
}
.modal .modal-content {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.6);
}

.swal2-popup.swal2-modal.swal2-show {
    background: #11262c !important;
}
.swal2-success-circular-line-left {
    background-color: #11262c !important;
}
.swal2-success-circular-line-right {
    background-color: #11262c !important;
}
.swal2-success-fix {
    background-color: #11262c !important;
}
.swal2-title {
    color: #fff !important;
}

body {

    color: #fff !important;

}
.swal2-content {
    color: #fff !important; }

.btn-success {
    border-color: #66FFCC!important;
    background-color: #66FFCC!important;
    color: #FFFFFF;
}