.hr{
    width: 90%;
    height: 1px;
    background-color: #66FFCC;
    display: flex;
    align-self: center;
}

.progress{
    height: 40px !important;
    width: 100% !important; 
    border-radius: 20px !important; 
    padding: 8px !important;
}

.progress-bar{
    background: linear-gradient(270deg, #22E5B1 0%, #38D4D7 100%) !important; 
    border-radius: 20px !important;
}

.myTable2 thead{
background-color: #66FFCC !important;
}

.myTable2 thead tr{
    background-color: transparent !important;
}
/* BARRA DE PROGRESO CIRCULAR */

.progresscircle{
    width: 100px;
    height: 100px;
    line-height: 100px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}
.progresscircle:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 12px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}
.progresscircle > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progresscircle .progress-left{
    left: 0;
}
.progresscircle .progress-circle{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 12px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.progresscircle .progress-left .progress-circle{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progresscircle .progress-right{
    right: 0;
}
.progresscircle .progress-right .progress-circle{
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
}
.progresscircle .progress-value{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: #44484b;
    font-size: 24px;
    color: #fff;
    line-height: 100px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 10%;
}
.progresscircle.blue .progress-circle{
    border-color: #22E5B2;
}

/* //////FIN DE BARRA CIRCULAR //////////*/


/* ////// RADIO BUTTONS PERSONALIZADOS /////// */

.content-input input,
.content-select select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
 
.content-input input{
	visibility: hidden;
	position: absolute;
	right: 0;
}

.content-input{
	position: relative;
	margin-bottom: 30px;
	padding:5px 0 5px 40px; /* Damos un padding de 60px para posicionar el elemento <i> en este espacio*/
	display: block;
}
.content-input input + .radioclass {
    background: transparent;
    border:2px solid #66FFCC;
    position: absolute; 
    width: 30px;
    height: 30px;
    left: 0;
    top: 0;
    cursor: pointer;
    border-radius: 100%;
}
/* Estas reglas se aplicarán a todos las elementos i después de cualquier input*/
.content-input input + .radioclass i{
 background: #fff;
 border:2px solid rgba(0,0,0,0.2);
 position: absolute; 
}

 
/* Estas reglas se aplicarán a todos los i despues de un input de tipo radio*/
.content-input input[type=radio] + .radioclass i{
 height: 20px;
 width: 20px;
 border-radius: 100%;
 left: 3px;
 top: 3px;
}

.content-input input[type=radio]:checked + .radioclass i:before{
	transform: scale(1);
	opacity: 1;
}
.content-input:hover input[type=radio]:not(:checked) + .radioclass i{
	background: #22E5B2;
}

.radiochecked{
    background: #66FFCC !important;
}
/* ////// FIN RADIO BUTTONS PERSONALIZADOS /////// */


/* ////// PAGONACIÓN DATATABLE PERSONALIZADO /////// */

.custom-pagination-li{
    margin: 0px 6px;
    border-radius: 50% !important;
}

.custom-pagination-li-a2{
    border-radius: 50% !important;
    background: transparent !important;
    color: #66FFCC !important;
}

.custom-pagination-li-a{
    border-radius: 50% !important;
    background: transparent !important;
    border: 2px solid #66FFCC !important;
    color: #66FFCC !important;
}

.custom-pagination-li-active{
    border-radius: 50% !important;
}

.custom-pagination-li-active-a{
    color: black !important;
}

table.dataTable th, table.dataTable td {
    border-bottom: 1px solid #204446 !important;
}

.dot{
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #15820F;
    position: absolute;
    margin: 6px -14px;
}